a.nav-connect {
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.67%);
    cursor: pointer;
    transition: 0.5s;
}

a.nav-connect:hover{
    transform: scale(1.05);
    border:2px solid #fff;
}

.navbar-nav .nav-item{
    transition: 0.3s;
}

.navbar-nav .nav-item:hover{
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-toggler {
    border: none; 
  }
  
.navbar-toggler-icon {
    filter: invert(1); 
  }
  
  
  /* Mobile View */
  @media (max-width: 992px) {
    .navbar-collapse {
        padding: 10px;
        border-radius: 10px;
    }
  
    .navbar-nav {
        align-items: center;
    }
  
    .nav-connect {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        display: block;
    }
  }
  
